# 安装包

In [38]:
# !pip install pyecharts
# !pip install pandas
# !pip install numpy
# !pip install seaborn

# 导入包

In [69]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")
%matplotlib inline

In [29]:
from collections import Counter

# 读入数据

In [3]:
nrows = None

### 训练数据

In [9]:
!head -3 ../data/sensor_train.csv

In [4]:
df_train = pd.read_csv('../data/sensor_train.csv',sep=',',nrows=nrows)

### 测试数据

In [10]:
!head -3 ../data/sensor_test.csv

In [5]:
df_test = pd.read_csv('../data/sensor_test.csv',sep=',',nrows=nrows)

### 提交格式

In [11]:
!head -3 ../data/提交结果示例.csv

In [8]:
df_submit = pd.read_csv('../data/提交结果示例.csv',sep=',',nrows=nrows)

# 查看数据

![title](pic/数据分析001.jpg)

### 训练数据

In [13]:
df_train.head(3)

,fragment_id,time_point,acc_x,acc_y,acc_z,acc_xg,acc_yg,acc_zg,behavior_id
0,0,27,0.3,-0.3,0.1,0.6,4.5,8.8,0
1,0,108,0.1,-0.0,-0.4,0.4,4.7,8.4,0
2,0,198,0.1,0.0,0.3,0.9,4.6,9.0,0

### 测试数据

In [14]:
df_test.head(3)

   fragment_id  time_point  acc_x  acc_y  acc_z  acc_xg  acc_yg  acc_zg
0            0          71    0.2    1.0    0.6     0.2     5.3     9.2
1            0         150    0.0    1.0   -0.7     0.2     6.0     8.2
2            0         244   -0.2    0.8   -2.4    -0.4     5.3     7.6

### 提交数据

In [16]:
df_submit.head(3)

   fragment_id  behavior_id
0            0            0
1            1            8
2            2            3

In [ ]:
# 数据条数

# 标签分析

### 数值ID与行为编码的对应关系

In [26]:
mapping = {0: 'A_0', 1: 'A_1', 2: 'A_2', 3: 'A_3', 
        4: 'D_4', 5: 'A_5', 6: 'B_1',7: 'B_5', 
        8: 'B_2', 9: 'B_3', 10: 'B_0', 11: 'A_6', 
        12: 'C_1', 13: 'C_3', 14: 'C_0', 15: 'B_6', 
        16: 'C_2', 17: 'C_5', 18: 'C_6'}

### 处理标签数据

In [60]:
df_train_label = df_train[['fragment_id','behavior_id']].drop_duplicates(['fragment_id','behavior_id'])
df_train_label['action_type'] = df_train_label['behavior_id'].map(mapping)
df_train_label['action_type_1'] = df_train_label['action_type'].map(lambda x:x.split('_')[0])
df_train_label['action_type_2'] = df_train_label['action_type'].map(lambda x:int(x.split('_')[1]))

### 查看标签

In [61]:
df_train_label.head(3)

     fragment_id  behavior_id action_type action_type_1  action_type_2
0              0            0         A_0             A              0
57             1            0         A_0             A              0
113            2            0         A_0             A              0

### behavior_id 类别个数

In [62]:
Counter(df_train_label.behavior_id)

Counter({0: 241,
         1: 676,
         2: 409,
         3: 332,
         4: 435,
         5: 343,
         6: 742,
         7: 236,
         8: 328,
         9: 287,
         10: 236,
         11: 449,
         12: 734,
         13: 291,
         14: 126,
         15: 478,
         16: 345,
         17: 259,
         18: 345})

![title](pic/数据分析002.jpg)

### action_type_1 类别个数

In [63]:
Counter(df_train_label.action_type_1)

Counter({'A': 2450, 'D': 435, 'B': 2307, 'C': 2100})

![title](pic/数据分析003.jpg)

### action_type_2 类别个数

In [64]:
Counter(df_train_label.action_type_2)

Counter({0: 603, 1: 2152, 2: 1082, 3: 910, 4: 435, 5: 838, 6: 1272})

![title](pic/数据分析004.jpg)

In [28]:
df_train.drop_duplicates(['fragment_id','behavior_id'])

,fragment_id,time_point,acc_x,acc_y,acc_z,acc_xg,acc_yg,acc_zg,behavior_id
0,0,27,0.3,-0.3,0.1,0.6,4.5,8.8,0
57,1,58,-0.1,-0.0,0.3,0.8,5.1,8.9,0
113,2,17,0.0,0.0,-0.1,0.8,4.9,8.7,0
170,3,85,0.1,0.0,-0.1,0.8,4.8,8.2,0
225,4,78,-0.0,-0.0,-0.2,0.8,4.8,8.1,0
...,...,...,...,...,...,...,...,...,...
425068,7287,2,5.7,2.5,-1.3,11.1,-5.8,-1.3,18
425127,7288,45,-0.6,1.0,-1.0,5.6,-6.6,1.0,18
425185,7289,35,2.4,0.7,-2.9,6.3,-8.2,-1.9,18
425243,7290,47,2.6,1.8,-2.1,7.5,-6.5,-2.3,18
425301,7291,23,1.4,1.8,-1.2,5.1,-7.2,-0.9,18

In [27]:
df_train[['fragment_id','behavior_id']]

,fragment_id,time_point,acc_x,acc_y,acc_z,acc_xg,acc_yg,acc_zg,behavior_id
0,0,27,0.3,-0.3,0.1,0.6,4.5,8.8,0
1,0,108,0.1,-0.0,-0.4,0.4,4.7,8.4,0
2,0,198,0.1,0.0,0.3,0.9,4.6,9.0,0
3,0,297,0.1,-0.1,-0.5,0.8,4.7,7.2,0
4,0,388,0.1,0.2,0.6,0.9,4.7,8.9,0
...,...,...,...,...,...,...,...,...,...
425354,7291,4561,-0.1,-0.5,-1.7,-0.2,3.4,7.4,18
425355,7291,4647,0.7,-1.9,1.1,0.5,1.7,10.7,18
425356,7291,4735,1.3,-1.4,-0.5,1.4,2.1,8.0,18
425357,7291,4830,1.2,-1.6,-0.1,1.6,1.8,9.2,18
425358,7291,4917,1.2,-1.7,0.3,1.8,1.4,9.6,18

In [10]:
len(set(df_data.fragment_id)),len(set(df_data.behavior_id))

(7292, 19)

In [11]:
len(df_data.drop_duplicates(['fragment_id'])), len(df_data.drop_duplicates(['fragment_id','behavior_id']))

(7292, 7292)

# 分析序列长度

In [15]:
df_data.groupby(['fragment_id'])['behavior_id'].count().reset_index().describe()

       fragment_id  behavior_id
count  7292.000000  7292.000000
mean   3645.500000    58.332282
std    2105.163414     1.668028
min       0.000000    50.000000
25%    1822.750000    57.000000
50%    3645.500000    58.000000
75%    5468.250000    60.000000
max    7291.000000    61.000000

# 分析label分布

In [18]:
df_data.drop_duplicates(['fragment_id','behavior_id']).groupby(['behavior_id'])['fragment_id'].count().reset_index()

    behavior_id  fragment_id
0             0          241
1             1          676
2             2          409
3             3          332
4             4          435
5             5          343
6             6          742
7             7          236
8             8          328
9             9          287
10           10          236
11           11          449
12           12          734
13           13          291
14           14          126
15           15          478
16           16          345
17           17          259
18           18          345

In [ ]:
df_data.describe